* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--foreground: hsl(198, 100%, 98%);
	--muted: hsl(200, 10%, 72%);
	--primary: hsl(198, 70%, 53%);
	--primary-foreground: hsl(0, 0%, 100%);
	--border: hsl(198, 5%, 50%);
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--foreground);
}

header {
	height: 4rem;
	background-color: hsla(193, 14%, 13%, 0.389);
	position: sticky;
	top: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s !important;
	-webkit-text-fill-color: var(--foreground) !important;
}

input::placeholder {
	color: hsl(200, 69%, 82%);
	opacity: 0.5;
}

main {
	height: calc(100vh - 4rem);
	max-width: 80rem;
	margin-inline: auto;
}

.backdrop {
	position: absolute;
	inset: 0;
	overflow: hidden;
	z-index: -1;
}

.backdrop img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.backdrop-shape {
	position: absolute;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	background: linear-gradient(
		to right,
		hsla(198, 56%, 8%, 0.61),
		hsla(198, 56%, 8%, 0.353),
		hsla(198, 59%, 25%, 0.681)
	);
	pointer-events: none;
}

.navbar {
	height: 100%;
	max-width: 80rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-inline: auto;
}

.navbar ul {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.navbar img {
	height: 2.5rem;
}

.navbar li a {
	color: var(--muted);
	font-weight: 600;
	text-decoration: none;
	display: block;
}

.navbar li a.active {
	color: var(--primary);
	font-weight: 700;
}

.navbar li a:hover {
	color: var(--primary);
	transition: color 0.1s ease-in;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.search-input {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--border);
	border-radius: 8px;
	padding: 0.25rem 0.5rem;
	gap: 0.5rem;
	width: 16rem;
}

.search-input::after {
	content: '';
	position: absolute;
	inset: 0;
	border-radius: 8px;
	pointer-events: none;
	background: hsla(189, 11%, 37%, 0.281);
	filter: blur(2px);
	z-index: -1;
}

.search-input input {
	border: none;
	outline: none;
	font-size: 0.8rem;
	background-color: transparent;
	color: var(--foreground);
	flex-grow: 1;
	color: var(--foreground);
	font-weight: 500;
}

.search-input button {
	border: none;
	background-color: transparent;
	display: grid;
	place-items: center;
	cursor: pointer;
}

.search-input button img {
	height: 1.5rem;
	width: 1.5rem;
	padding: 5px;
	border-radius: 8px;
	background-color: var(--primary);
}

/* SEARCH */

.hidden {
	display: none;
}

#resultsContainer {
	position: absolute;
	right: 1rem;
	padding: 1rem;
	width: 32rem;
	height: calc(100vh - 10rem);
	overflow-y: scroll;
	gap: 1rem;
	border-radius: 1rem;
	background-color: #fafafa;
	z-index: 1;
}

#resultsContainer .result-card {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	color: var(--primary);
	margin-bottom: 1rem;
}

.result-card img {
	height: 20rem;
	width: auto;
	border-radius: 10px 10px 0 0;
}

#resultsContainer figcaption {
	display: inline-block;
	margin-right: 6px;
	padding: 4px 8px;
	border-radius: 6px;
	font-size: 0.8rem;
}

#resultsContainer figcaption p {
	color: var(--muted);
}

.no-result {
	color: var(--muted);
	text-align: center;
	margin-top: 2rem;
}

#resultsContainer button {
	padding: 0.7rem 1.5rem;
	border: none;
	border-radius: 0.5rem;
	background-color: var(--primary);
	color: white;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.2s ease;
	width: 100%;
	margin: 1rem 0;
}

#resultsContainer button:hover {
	background-color: hsl(198, 67%, 42%);
	color: hsl(198, 17%, 85%);
}

@media (max-width: 768px) {
	header {
		height: auto;
		position: absolute;
		width: 100%;
		top: 0;
		z-index: 50;
	}

	header.show {
		background-color: hsla(188, 12%, 13%, 0.94);
	}

	.navbar {
		padding: 0.75rem 1rem;
		flex-wrap: wrap;
		align-items: center;
	}

	.hamburger {
		display: block;
		width: 2rem;
		height: 2rem;
		background: var(--primary);
		border-radius: 6px;
		display: grid;
		place-items: center;
	}

	.hamburger span {
		width: 18px;
		height: 2px;
		background: white;
		position: relative;
	}

	.hamburger span::before,
	.hamburger span::after {
		content: '';
		position: absolute;
		left: 0;
		width: 18px;
		height: 2px;
		background: white;
	}

	.hamburger span::before {
		top: -6px;
	}

	.hamburger span::after {
		top: 6px;
	}

	.navbar ul {
		width: 100%;
		flex-direction: column;
		gap: 1rem;
		margin-top: 1rem;
		display: none;
	}

	.navbar ul.show {
		display: flex;
	}

	.search-input {
		width: 100%;
		margin-top: 1rem;
	}

	.navbar > a {
		order: 1;
	}

	.hamburger {
		order: 2;
		margin-left: auto;
	}

	.navbar ul {
		order: 3;
	}

	.search-input {
		order: 4;
	}

	#resultsContainer {
		position: absolute;
		inset: 0;
		margin-top: 8rem;
		overflow-y: scroll;
		border-radius: 1rem;
		width: 100%;
	}

	.result-card img {
		height: 10rem;
		width: auto;
		border-radius: 10px 10px 0 0;
	}
}
