* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--background: hsl(198, 15%, 94%);
	--foreground: hsl(198, 95%, 5%);
	--primary: hsl(198, 66%, 70%);
	--primary-foreground: hsl(199, 12%, 75%);
	--border: hsl(198, 10%, 86%);
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--background);
	color: var(--foreground);
}

header {
	height: 4rem;
	border-bottom: 1px solid var(--border);
}

.navbar {
	height: 100%;
	max-width: 80rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-inline: auto;
}

.navbar ul {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.navbar img {
	height: 2.5rem;
}

.navbar li a {
	color: var(--foreground);
	font-weight: 500;
	text-decoration: none;
	display: block;
}

.navbar li a:hover {
	color: var(--primary);
}

.search-input {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--border);
	border-radius: 8px;
	padding: 0.25rem 0.5rem;
	gap: 0.5rem;
	width: 16rem;
}
.search-input input {
	border: none;
	outline: none;
	font-size: 0.8rem;
	background-color: transparent;
	color: var(--foreground);
	flex-grow: 1;
}
.search-input button {
	border: none;
	display: grid;
	place-items: center;
	cursor: pointer;
}

.search-input button img {
	height: 1.5rem;
	width: 1.5rem;
	padding: 5px;
	border-radius: 8px;
	background-color: var(--primary);
}
