body {
	max-height: 100vh;
	overflow: hidden;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-optical-sizing: auto;
}

main h1 {
	font-size: 4rem;
	margin-bottom: 1rem;
	font-weight: 800;
}

main p {
	color: var(--muted);
	font-size: 1.6rem;
	max-width: 40rem;
	font-weight: 600;
	text-align: center;
}

main button {
	padding: 0.6rem 1rem;
	border-radius: 8px;
	border: none;
	background-color: var(--primary);
	color: white;
	font-weight: 700;
	font-size: 1rem;
	margin-top: 2rem;
	cursor: pointer;
}

main button:hover {
	scale: 1.05;
	transition: scale 0.1s ease-in-out;
	box-shadow: 0 4px 0 hsl(213, 29%, 36%);
	background-color: hsl(198, 62%, 49%);
}

@media (max-width: 768px) {
	main {
		margin-top: 3rem;
	}

	main h1 {
		font-size: 2rem;
		text-align: center;
	}

	main p {
		font-size: 1rem;
	}
}
